.container {
    text-align: center;
}

.marginRight {
    margin-right: 15px;
}

.marginLeft {
    margin-left: 15px;
}

.marginTop {
    margin-top: 16px;
    text-align: left;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.marginBottom {
    margin-bottom: 30px;
}

.errorGlobal {
    background-color: #f8d7da;
    border: 1px #f5c2c7 solid;
    color: #842029;
    width: 100%;
    display: block;
    padding: 10px 0;
    margin-bottom: 16px;
    border-radius: 5px;
  }

  .contentCenter {
    width: 100%;
    max-width: 330px;
    margin: 0 auto;
  }
  
  .containerCenter{
    height: var(--height);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
  } 

.searchInput, .selectInput{
    width: 40%;
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.selectInput {
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; 
}

.searchInput:focus, .selectInput:focus {
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.label {
    margin-right: 15px;
    font-weight: 600;
    width: 20%;
}

.bold {
    font-weight: bold;
}

.radioOneInput, .radioTwoInput{
    width: 100%;
}

.button {
    margin-left: 15px;
    background-color: #2962ff;
    color: white;
    padding: 0.375rem 0.75rem;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid transparent;
    width: 15%;
}

.button:hover {
    box-shadow: 1px 1px 12px -1px rgb(0 0 0 / 24%);
    -webkit-box-shadow: 1px 1px 12px -1px rgb(0 0 0 / 24%);
}

.middleContent {
    width: 40%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.title {
    font-weight: 600;
    margin-bottom: 1rem;
    margin-bottom: 30px;
}

.radioOne, .radioTwo {
    margin-right: 5px;
}

@media only screen and (max-width: 992px) {
    .searchInput, .selectInput, .middleContent {
        width: 65%;
    }
    .button {
        width: 50%;
        margin: 0;
        margin-top: 15px;
    }
    .label {
        width: 25%;
    } 
    .middleContent {
        justify-content: space-between;
    }
}

@media only screen and (max-width: 768px) {
    .label, .searchInput, .middleContent, .selectInput, .button {
        width: 100%;
        margin: 0;
        margin-top: 15px;
    }
    .middleContent {
        justify-content: space-between;
    }
}
